.about {
    width: 100%;
    height: 100vh;
    display: none;
    animation: fade-in 1s forwards;
  }



.background-code {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.code-staircase {
    margin: 30px;
    font-size: .8vw;
    position: absolute;
    color: #7c7c7c;
    border-radius: 8px;
    width: max-content;
    bottom: 0;
}

.code-staircase pre {
    margin: 0; /* Removes default margin from 'pre' */
    white-space: pre-wrap; /* Ensures code lines wrap and maintain formatting */
    width: max-content;
}

.code-staircase code {
    white-space: nowrap;
    display: block; /* Ensure each code line is on a new line */
    overflow: hidden; /* Ensures that the text is clipped as the container's width increases */
    margin: 5px 0; /* Adds a small space between lines of code */
    width: max-content;
    border-right: .15em solid white; /* The typwriter cursor */
    
}

.type-animation {
    animation: typing 1.5s steps(60, end), blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }

  .about-flex-container {
    margin-top: -4rem;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .flex-content {
    width: 90%;
    height: 50%;
    display: grid;
    color: white;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-content: center;
  }

  .about-text {
    padding: 3rem;
    animation: CardSlideIn .5s ease forwards;
    opacity: 0;
  }

  .about-text:nth-child(1) {
    animation-delay: .5s;
  }

  .about-text:nth-child(2) {
    animation-delay: .6s;
  }

  .about-text:nth-child(3) {
    animation-delay: .7s;
  }


  @keyframes CardSlideIn {
    from {
      transform: translateY(90px);
      opacity: 0;
    }
    to
    {
      transform: translateY(0px);
      opacity: 1;
    }  
}


  .about-text:nth-child(2) {
    border-left: 1px white solid;
    border-right: 1px solid;
    border-image: linear-gradient(
      to bottom, 
      rgba(255, 255, 255, 0), /* Start with transparent white */
      rgba(255, 255, 255, 1), /* Transition to opaque white in the middle */
      rgba(255, 255, 255, 0)  /* End with transparent white */
    ) 1 100%;
  }

  .about-text:nth-child(3) {
    display: grid;
    justify-content: center;
    height: max-content;
  }



  .about-text ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    
  }
  
  .skills {
    display: flex;
  }


  .myself {
    width: 200px;
    height: 200px;
    background-image: url(Assets/Myself.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(0);
    animation: popup 0.7s ease forwards;
    animation-delay: 1s;
  }

  @keyframes popup {
    0%{
      transform: scale(0);
    }
    50%{
      transform: scale(1.4);
    }
    60%{
      transform: scale(1.1);
    }
    70%{
      transform: scale(1.2);
    }
    80%{
      transform: scale(1);
    }
    90%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }

  .about-title, .about-text  h3 {
    color: #99ffff;
  }

  .about-text  h3 {
    margin-top: 0;
  }

  .about-p {
    font-size: 100%;
  }