@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

  body, html {
    margin: 0;
    font-family: "Roboto Slab", serif;
    height: 100vh;
    background: rgb(2,16,39);
    background: radial-gradient(circle, rgb(7, 37, 86) 0%, rgba(0,0,0,1) 50%);
  }

  .back-button {
    margin: 30px;
    position: absolute;
    width: max-content;
    height: max-content;
    z-index: 100;
  }
  
  .back-button .c-button {
    color: white;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    padding: .7em 1.8em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }
  
  .back-button .c-button--gooey {
    color: white;
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid white;
    border-radius: 0;  
    padding: .4em .8em;
    position: relative;
    transition: all 700ms ease;
  }

  .back-button .c-button--gooey:hover {
    color: black;
    background-color: white;
  }

  .next-button {
    margin: 30px;
    position: absolute;
    width: max-content;
    height: max-content;
    right: 0;
    z-index: 100;
  }
  
  .next-button .c-button {
    color: white;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    padding: .7em 1.8em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }
  
  .next-button .c-button--gooey {
    color: white;
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid white;
    border-radius: 0;  
    padding: .4em .8em;
    position: relative;
    transition: all 700ms ease;
  }

  .next-button .c-button--gooey:hover {
    color: black;
    background-color: white;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .fadeout {
    animation: fade-out .5s forwards !important;
  }
  